<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .centered-table {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2>Leaderboard</h2>
    <a href="/view_tradeoff" class="btn btn-primary mb-3">Show Performance-Time Plot</a>
    <div>
        <table class="table table-striped centered-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Performance</th>
                <th>Runtime</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in leaderboard %}
                <tr>
                    <td>{{ entry.name }}</td>
                    <td>{{ "{:.3f}".format(entry.performance) }}</td>
                    <td>{{ "{:.1f}".format(entry.time) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
